*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:rgb(220, 220, 230);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
}
main{
    width:75%;
    margin:10px auto;
    border:1px  solid blueviolet;
    color:white;
    display:grid;
    grid-template-rows:60px 100px 200px 60px;
    grid-template-columns:repeat(3,1fr)150px;
    grid-gap:10px

}
.div1{background-color: brown;
grid-column:1/-1;
}
.div2{background-color: rgb(59, 216, 166);}
.div3{background-color: rgb(176, 183, 158);}
.div4{background-color: rgb(188, 150, 150);}
.div5{background-color: aqua;
grid-row:2/4;
grid-column:4/5}
.div6{background-color:blue;
grid-column:1/span 3;
}
.div7{background-color:darkgoldenrod;
grid-column:1/-1;}