*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    background-color: rgb(216, 221, 221);
    font-family: fantasy;
    text-align: center;

}
.box{
    width:75%;
    margin:10px auto;
    border:2px solid rgb(78, 49, 11);
    color:rgb(1, 7, 12);
    display:grid;
    grid-template-rows:60px 60px 250px 60px;
    grid-template-columns:1fr 3fr;
    grid-gap:10px



}
.title{background-color: brown;
grid-column:1/-1;
}
.navbar{background-color: rgb(59, 216, 166);
grid-column: 1/-1;}
.index{background-color: rgb(176, 183, 158);
}
.content{background-color: rgb(188, 150, 150);}
.footer{background-color: aqua;
    grid-column:1/-1;}


